

:root {
    --Name:"偉大な主";
    --colorNameLb: WHITE;
    --colorClanLb: WHITE;
}
@font-face {
    font-family: name;
    src: url(https://fonts.gstatic.com/s/nunito/v20/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmdTQ3jw.woff2);
}





/* NAME */

#menuAccountUsername { 
    font-size: 0 
}
#menuAccountUsername:before {
    content: var(--Name);
    font-family: name;
    font-size: 19px !important;
    vertical-align: top;
    color:white !important;
    visibility: visible !important;
}
 
.endTableN[style="color:#fff"]{
    font-size: 0px;
}
.endTableN[style="color:#fff"] :before {
    content: var(--Name);
    font-family: name;
    font-size: 23.8px;
    vertical-align: top;
}

.leaderNameM {
    font-size: 0px;
}
.leaderNameM :before {
    font-size: 20px;
    content: var(--Name);
    font-family: name;
    vertical-align: top;
    color: #ffffff;
}
.leaderNameM span {
    font-size: 18px;
    background-image: linear-gradient(to top, var(--colorClanLb), var(--colorClanLb)) !important;
    animation: gradient-border 1.3s linear infinite;
    color: transparent !important;
    -webkit-background-clip: text;
}
.leaderNameM:before,
.endTableN[style="color:#fff"]:before {
    font-family : 'Material Icons';
    font-size : 30px;
    display : inline-block;
    content : url(https://cdn.discordapp.com/attachments/1255534552345219263/1304574375135023114/badgee.png?ex=672fe310&is=672e9190&hm=f110a3eb8915de6b06d710f1a6371898141fb7554daece080ab89dc12deb2922&) url(https://cdn.discordapp.com/attachments/1255534552345219263/1304569709802426540/image.png?ex=672fdeb8&is=672e8d38&hm=ad80009ceee672fbfda45bf26b385a2b4642c303dfeb63f44fae7e8e8b7709a8&) "check_circle " !important;
    color : #40C4FF !important;
    vertical-align:TOP;
    margin-left: -15px;
    visibility: visible !important;
    transform: scale(0.8);
}

